/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1000;
    
  }
  
  /* Define styles for main content */
  .main-content {
   position: fixed;
    top: 60px; /* Adjust according to navbar height */
    bottom: 60px; /* Adjust according to footer height */
    left: 0;
    right: 0;
    overflow-y: auto; /* Allow internal scrolling */
    padding: 10px 20px;
    background-color: #F4F6F6;
  }
  
  /* Define styles for footer */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1000; /* Ensure footer stays above other content */
  }